<div class="container-fluid row justify-content-around">
  <div class="card text-center bg-light col-auto ml-4 mt-2 mb-2 p-2" *ngFor="let product of products">
    <img
      class="card-img-top"
      [src]="product.photo"
      alt=""
    />
    <div class="card-body p-1">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-subtitle">{{ product.description }}</p>
      <p class="card-text">R{{ product.price | currency }}</p>
    </div>
    <div [formGroup]="form" class="card-body d-flex justify-content-center align-items-center p-1">
      <p class="card-text mx-2" for="quantity">Quantidade: </p>
      <select name="quantity" class="form-control custom-select-sm mb-3 w-25 mx-2" formControlName="quantity">
        <option [ngValue]="1">1</option>
        <option [ngValue]="2">2</option>
        <option [ngValue]="3">3</option>
        <option [ngValue]="4">4</option>
        <option [ngValue]="5">5</option>
      </select>
    </div>
    <a class="btn btn-dark" (click)="addToCart(this.product, this.form.get('quantity')?.value)">Adicionar ao carrinho</a>
  </div>
</div>



