<div class="container">
  <!-- Carrinho com Produtos -->

  <div class="row" *ngIf="getTotalItems() > 0">
    <div class="col-12">
      <h4 class="d-flex col-12 justify-content-between align-items-center mt-3">
        <span class="text-secondary">Carrinho de Compras</span>
      </h4>
    </div>

    <div class="col-xl-8 col-md-12">
      <div class="col">
        <ul class="list-group" *ngFor="let item of getCartItems()">
          <!-- NGFor inicia aqui -->
          <li class="list-group-item p-0 mb-1">
            <div class="d-flex flex-row align-items-center">

              <div class="flex-col p-1 justify-content-start">
                <img
                  width="100vh"
                  height="100vh"
                  src="{{ item.product.photo }}"
                />
              </div>
              <div class="flex-col flex-fill p-1 justify-content-start">
                <h6 class="my-0">{{ item.product.name }}</h6>
                <span class="small text-muted">{{ item.product.description }}</span>
              </div>

              <div class="flex-col d-inline-flex  align-items-center justify-content-end">
              <span class="small text-center p-1">
                {{ item.product.price | currency: 'BRL' }} X
                {{ item.quantity }}</span
              >
              <button type="button" class="ml-1 btn btn-sm btn-light">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                  ></path>
                  <path
                    fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                  ></path>
                </svg>
              </button>
            </div>
            </div>
          </li>
        </ul>
        <!-- Fim do NGFor -->

        <ul class="list-group mb-2">
          <li class="list-group-item d-flex justify-content-between">
            <span>Desconto </span>
            <strong class="text text-success"
              >{{ getDiscount() | currency: 'BRL' }}</strong
            >
          </li>

          <li class="list-group-item d-flex justify-content-between">
            <span>Valor Total </span>
            <strong>{{ getTotalPrice() | currency: 'BRL' }}</strong>
          </li>
        </ul>

        <div class="card p-2">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="coupon"
              placeholder="Cupom de desconto"
              [(ngModel)]="coupon"
              [disabled]="validCoupon"
              [ngClass]="{ 'is-valid': validCoupon === true }"
              [ngClass]="{ 'is-invalid': validCoupon === false }"
            />
            <button
              (click)="onAddDiscount()"
              [disabled]="!coupon || validCoupon"
              class="btn ml-2 btn-secondary"
            >
              Ativar
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-xl-4">
      <div class="col">
        <div class="card p-2">
          <span class="text-secondary mb-2"
            >Calcule frete e prazo de entrega:
          </span>
          <div class="input-group mb-2">
            <input
              type="text"
              class="form-control"
              id="zipcode"
              mask="00000-000"
              [showMaskTyped]="true"
              [validation]="false"
              [(ngModel)]="zipcode"
            />

            <button
              type="button"
              [disabled]="!zipcode"
              class="btn ml-2 btn-secondary"
              (click)="isZipcodeValid()"
            >
              Calcular
            </button>
          </div>

          <div class="mt-2 form-check" [hidden]="!validZipCode || !zipcode">
            <input
              class="form-check-input"
              type="radio"
              name="option"
              id="option1"
              checked
            />
            <label
              class="form-check-label text-secondary"
              for="option1"
            >
              Opção de frete 1
            </label>
          </div>

          <div class="mt-2 form-check" [hidden]="!validZipCode || !zipcode">
            <input
              class="form-check-input"
              type="radio"
              name="option"
              id="option2"
            />
            <label
              class="form-check-label text-secondary"
              for="option2"
            >
              Opção de frete 2
            </label>
          </div>

          <div class="mt-2 form-check" [hidden]="!validZipCode || !zipcode">
            <input
              class="form-check-input"
              type="radio"
              name="option"
              id="option3"
            />
            <label
              class="form-check-label text-secondary"
              for="option3"
            >
              Opção de frete 3
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12 my-2">
      <div class="col">
        <a
          href="/"
          class="w-100 btn btn-outline-secondary mb-2"
          routerLinkActive="active"
        >
          Adicionar mais produtos
        </a>
      </div>
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" (click)="onCheckout()">
          Finalizar Compra
        </button>
      </div>
    </div>
  </div>

  <!-- Carrinho Vazio -->

  <div class="row" *ngIf="getTotalItems() <= 0">
    <div class="col-12">
      <div
        class="alert alert-dark d-flex justify-content-center mt-3"
        role="alert"
      >
        <h4 class="alert-heading">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="feather feather-alert-circle mt-1"
            viewBox="0 0 24 24"
          >
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="8" x2="12" y2="12"></line>
            <line x1="12" y1="16" x2="12" y2="16"></line>
          </svg>
        </h4>
        <p class="m-2">Seu carrinho está vazio.</p>
      </div>
      <div class="row justify-content-center">
        <a href="/" class="btn btn-secondary" routerLinkActive="active">
          Voltar para a loja
        </a>
      </div>
    </div>
  </div>
</div>
