<div class="container">
  <div class="col-12">
    <h4 class="d-flex col-12 justify-content-between align-items-center mt-3">
      <span class="text-secondary">Sobre</span>
    </h4>
    <br />
    <span class="d-flex col-12"
      >Este projeto pessoal elaborado para prática dos conhecimentos adquiridos
      de desenvolvimento Front-End, e utiliza as seguintes tecnologias:
    </span>
    <br />
    <ul>
      <li>
        <span class="d-flex col-12">Angular, versão 12.2.0;</span>
      </li>
      <li>
        <span class="d-flex col-12"
          >Ngx-Bootstrap versão 7.0.0, com Bootstrap versão 4.5.3;</span
        >
      </li>
      <li>
        <span class="d-flex col-12">Ngx-Mask, versão 12.0.0.</span>
      </li>
    </ul>
    <span class="d-flex col-12">Este projeto também estará sujeito a refatorações, conforme novos conhecimentos forem adquiridos no futuro.</span>
    <div class="text-center fixed-bottom">
      <span class="col-12 font-weight-bolder"
        >Versão do Projeto: 1.0.1</span
      >
      <br/>
      <span class="col-12"
        >Última atualização: 09 de Dezembro de 2021.</span
      >
    </div>
  </div>
</div>
